@media (max-width: 1024px)  
{
	.bannerHeadTitle
	{
		font-size: 48px;
	}

	.bannerHeadInf
	{
		font-size: 21px;
	}

	.eventBot
	{
		justify-content: space-around;
	}

	.adPictures
	{
		padding-right: 80px;
	}

	.bannerLink
	{
		width: 185px;
		margin-bottom: 20px;
		margin-right: 0;
	}

	.bannerLinks
	{
		justify-content: space-around;
		padding-left: 0;
		margin-right: 0;
	}

	.bannerHead
	{
		width: 40%;
	}

	.banner
	{
		justify-content: space-between;
	}

	.headerNavItem
	{
		font-size: 15px;
	}

	.footerSubscribeInput
	{
		display: none;
	}

	.eventBot
	{
		margin-right: 0px;
	}

	.adPictures img
	{
		width: 425px;
	}

	.news
	{
		flex-direction: column;
		align-items: center;
	}

	.usefullLinks
	{
		flex-wrap: wrap;
		margin-right: 0;
		margin-bottom: -20px;
	}

	.usefullLinksItem
	{
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.footerContacts
	{
		display: none;
	}
	
	.footer
	{
		justify-content: space-around;
	}

	.newsAll
	{
		margin-bottom: 30px;
	}
}

@media (max-width: 425px)
{
	.adPictures img
	{
		width: 300px;
	} 

	.headerTop
	{
		display: none;
	}

	.footerLinksItem img
	{
		width: 125px;
	}

	.footerLinksItemTitle
	{
		font-size: 17px;
	}

	.footerLink a
	{
		font-size: 13px;
	}

	.newsTopTitle
	{
		font-size: 26px;
	}

	.newsTopLink span
	{
		font-size: 10px;
	}

	.banner
	{
		margin-top: 0px;
	}
	
	.newsAll
	{
		
	}	

	.newsBotInfLink a
	{
		font-size: 14px;
	}

	.newsTopLink
	{
		margin-left: 5px; 
	}

	.newsTopLink a 
	{
	
		width:;
	}

	.newsTopLink img
	{
		width: 12px;
	}

	.bannerLinkTitle
	{
		font-size: 12px;
	}

	.bannerLinkInf a
	{
		font-size: 11px;
	}

	.bannerLinkInf img
	{
		width: 12px;
	}

	.bannerLinks
	{
		padding-top: 35px;
		width: 100%;

	}

	.bannerLink
	{
		font-size: 10px;
		width: 145px;
	}

	.headerWr
	{
		height: 450px;
	}

	.footerLinksItem
	{
		width: 50%;
	}

	.newsTopLink
	{
		display: none;
	}

	.newsTop
	{
		justify-content: space-around;
		padding-right: 0px;
	}

	.newsBot
	{
		margin-left: -30px;
	}

	.newsBotItem
	{
		flex-direction: column;
	}

	.newsBotInf
	{
		margin-left: 0px;
	}

	.usefullLinks
	{
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.usefullLinksItem
	{
		margin-right: 0px;
		margin-bottom: 0px;
		width: 200px;
	}

	.eventTopLink
	{
		display: none;
	}

	.eventTopTitle
	{
		text-align: center;
		font-size: 30px;
	}

	.eventBotItem
	{
		margin: 0 0 20px 0;
	}

	.banner
	{
		flex-direction: column;
	}

	.bannerHeadTitle
	{
		padding-bottom: 0px;
		font-size: 40px;
		text-align: center;
		width: 100%;
	}

	.bannerHead
	{
		width: 100%;
		align-items: center;
		justify-content: space-around;
	}

	.bannerHeadInf
	{
		font-size: 18px;
		text-align: center;
	}

	.bannerHeadLink
	{
		align-self: center;
		width: 140px;
	}

}	



