@media (max-width: 1024px)  
{
	.bannerHeadTitle
	{
		font-size: 48px;
	}

	.bannerHeadInf
	{
		font-size: 21px;
	}

	.eventBot
	{
		justify-content: space-around;
	}

	.adPictures
	{
		padding-right: 80px;
	}

	.bannerLink
	{
		width: 185px;
		margin-bottom: 20px;
		margin-right: 0;
	}

	.bannerLinks
	{
		justify-content: space-around;
		padding-left: 0;
		margin-right: 0;
	}

	.bannerHead
	{
		width: 40%;
	}

	.banner
	{
		justify-content: space-between;
	}

	.headerNavItem
	{
		font-size: 15px;
	}

	.footerSubscribeInput
	{
		display: none;
	}

	.eventBot
	{
		margin-right: 0px;
	}

	.adPictures img
	{
		width: 425px;
	}

	.news
	{
		flex-direction: column;
		align-items: center;
	}

	.usefullLinks
	{
		flex-wrap: wrap;
		margin-right: 0;
		margin-bottom: -20px;
	}

	.usefullLinksItem
	{
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.footerContacts
	{
		display: none;
	}
	
	.footer
	{
		justify-content: space-around;
	}

	.newsAll
	{
		margin-bottom: 30px;
	}
}

@media (max-width: 425px)
{
	.adPictures img
	{
		width: 300px;
	} 

}

